.container {
    width: 90%;
    height: 220px;
    cursor: pointer;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    padding-top: 10px;
    overflow: hidden;
}
.insideContainer {
    transition: transform 2s;
}
.insideContainer:hover {
    transform: scale(1.3);
}
.logo {
    padding-top: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.title {
    font-weight: 650;
    font-size: 30px;
}

.text {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 600;
}

@media (hover: none) and (pointer: coarse)  {
    .insideContainer:hover {
        transform: scale(1);
    }
}