.container {
    border: 1px solid black;
    width:500px;
    padding: 0 10px 25px 10px;
    background-color: rgb(241, 234, 247);
    margin: auto;
    margin-top: 20px;
}

@media screen and (max-width: 550px) {
    .container {
        width: 85%;
    }
}